<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Gallery</title>
    <link rel="stylesheet" href="/static/css/gallery.css">
    <link rel="stylesheet" href="/static/css/common.css">
</head>
<body>
    
    {% include 'top_bar.html' %}
    <!-- TODO: template posts -->
    <div class="post">
        <img src="profile-placeholder.jpg" alt="Profile" class="profile-pic">
        <div class="post-content">
            <h3 class="author-name">Jonh Doe</h3>
            <img src="post-image1.jpg" alt="Post content 1" class="post-image">
            <p class="post-description">Hello, I am at the zoo.</p>
            <p class="notes-count">100,210 likes</p>
        </div>
    </div>

    <div class="post">
        <img src="profile-placeholder.jpg" alt="Profile" class="profile-pic">
        <div class="post-content">
            <h3 class="author-name">Emily Davis</h3>
            <img src="post-image2.jpg" alt="Post content 2" class="post-image">
            <p class="post-description">Tralalelo tralala.</p>
            <p class="notes-count">1,210 likes</p>
        </div>
    </div>
</body>
</html>